.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.woff2");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.woff2");
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.woff");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.woff");
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Bold.woff2");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Bold.woff");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.woff2");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.woff");
  font-style: normal;
  font-weight: 400; }

img {
  max-width: 100%; }

.row > div,
.row > article {
  box-sizing: border-box; }

.container > div,
.container > article {
  box-sizing: border-box; }

input {
  outline: none; }

.body {
  margin: 0;
  font-family: 'Lato', 'Arial', sans-serif; }

.company-info {
  box-sizing: border-box; }
  .company-info__title {
    line-height: 22px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
  .company-info__description {
    color: #a3b1bf;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px; }
  .company-info__work-link {
    display: inline-block;
    padding: 0 0 0; }
  .company-info__work-links {
    padding: 0; }
  .company-info__works-image {
    width: 125px; }
  .company-info__link-more {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    color: #a3b1bf;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none; }

.contacts {
  color: #506a85;
  font-size: 12px;
  font-weight: 400; }
  .contacts__address, .contacts__tel {
    font-size: 0px; }
  .contacts__email {
    margin-top: 10px; }
  .contacts a {
    text-decoration: none; }
  .contacts__email, .contacts__address, .contacts__tel {
    display: block;
    color: #a3b1bf;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none; }

.container {
  padding-left: 15px;
  padding-right: 15px; }
  .container--footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px; }
  .container--header-upper {
    padding-top: 10px;
    padding-bottom: 10px; }
  .container--header-middle {
    padding-top: 30px;
    padding-bottom: 30px; }

.cooperation {
  padding: 80px 0;
  box-sizing: border-box; }
  .cooperation__button {
    display: block;
    margin: 0 auto;
    border: none;
    box-sizing: border-box;
    padding: 20px 26px;
    background-color: #00bc9c;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase; }

.features {
  padding: 80px 0;
  box-sizing: border-box; }
  .features__item {
    box-sizing: border-box;
    padding-left: 100px; }
    .features__item--passion::before, .features__item--creativity::before, .features__item--quality::before {
      position: absolute;
      content: "";
      left: 30px;
      top: 0;
      background-repeat: no-repeat; }
    .features__item--passion::before {
      background-image: url("../img/icon-heart-empty-1.png");
      width: 61px;
      height: 53px; }
    .features__item--creativity::before {
      background-image: url("../img/icon-lamp.png");
      width: 46px;
      height: 65px; }
    .features__item--quality::before {
      background-image: url("../img/icon-star-empty-1.png");
      width: 56px;
      height: 53px; }
  .features__item-title {
    box-sizing: border-box;
    padding-top: 20px;
    color: #506a85;
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    text-transform: capitalize; }
  .features__item-description {
    color: #73879c;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px; }

.footer__upper {
  background-color: #2f4052; }

.footer__bottom {
  background-color: #283645; }

.footer__bottom-copyright {
  padding: 0;
  margin: 0;
  color: #707e8c;
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; }

.footer__bottom-nav {
  padding: 0; }

.header__upper {
  box-shadow: 0 1px 0 #e6e9ed;
  background-color: #f5f7fa; }

.header__upper-contacts {
  padding: 0; }

.header__upper-social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0; }

.header__upper-contacts a {
  color: #506a85;
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none; }

.header__bottom {
  box-sizing: border-box;
  padding: 200px 0 200px;
  background-color: #283645;
  background-image: url(../img/bg-header-image@1x.jpg);
  background-size: cover; }

.logo__footer {
  display: block;
  width: 129px;
  height: 32px; }

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .nav__item {
    display: block;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    text-decoration: none; }
    .nav__item--footer-nav {
      margin-right: 10px;
      color: #707e8c;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-transform: capitalize; }
    .nav__item--header-nav {
      color: #506a85;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 35px; }

.page-title__text {
  color: #fff;
  font-size: 78px;
  font-weight: 900;
  line-height: 88px;
  text-transform: uppercase;
  text-align: center; }

.page-title__description {
  color: #a3b1bf;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  text-align: center; }

.search__form {
  position: relative; }

.search__field {
  width: 100%;
  height: 35px;
  border: 0;
  padding-left: 15px;
  padding-right: 20px;
  box-sizing: border-box;
  text-transform: capitalize; }
  .search__field:focus {
    border: 1px solid #2f4052; }

.search__submit {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  top: 9px;
  right: 3px;
  background: url(../img/icon-search.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: transparent;
  border: 1px solid transparent; }

.section-header {
  margin-bottom: 35px; }
  .section-header__title {
    margin: 0;
    margin-bottom: 10px;
    color: #506a85;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    text-transform: capitalize; }
  .section-header__description {
    color: #73879c;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    text-align: center; }

.subscribe-form {
  position: relative;
  font-family: 'Source Sans Pro', 'Arial', sans-serif; }
  .subscribe-form__field {
    height: 35px;
    width: 100%;
    border: 0;
    padding-left: 5px;
    padding-right: 100px;
    padding-top: 13px;
    padding-bottom: 13px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 25px;
    color: #828e99;
    background-color: #4e5c6b;
    text-transform: inherit; }
  .subscribe-form__submit {
    position: absolute;
    content: '';
    width: 70px;
    height: 25px;
    box-sizing: border-box;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    background-color: #00bc9c;
    color: #fff;
    text-transform: uppercase;
    top: 5px;
    right: 10px;
    border: none;
    font-size: 10px;
    font-weight: 700; }

.works {
  padding: 80px 0;
  box-sizing: border-box;
  background-color: #f2f5f7; }
  .works__example {
    box-sizing: border-box;
    margin-bottom: 70px; }
  .works__example-description {
    background-color: #fff;
    padding: 25px 0; }
  .works__example-link {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #506a85;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    text-decoration: none; }
  .works__example-image {
    display: block;
    margin: 0 auto; }
  .works__slider {
    padding: 0;
    text-align: center; }
  .works__slider-item {
    display: inline-block;
    box-sizing: border-box; }
