$body-color: #fff;
$header__upp-bgColor: #f5f7fa;
$header__contentColor: #506a85;
$header__bott-contentColor:#a4b2c0;
$section-bgColor: #f2f5f7;
$footer__upp-bgColor: #2f4052;
$footer__upp-contentColor: #a3b1bf;
$footer__bott-bgColor: #283645;
$footer__bott-contentColor: #707e8c;
$section__headerColor: #4f6a86;
$section__header-descr-Color: #73879c;
$section__contentColor: #74889d;
$button-color: #00bc9c;
$font-size-sm12: 12px;
$font-size-sm14: 14px;
$font-size-sm15: 15px;
$font-size-sm16: 16px;
$font-size-sm20: 20px;
$font-size-md22: 22px;
$font-size-md24: 24px;
$font-size-md26: 26px;
$font-size-lg44: 44px;
$font-size-lg78: 78px;
$lh-md25: 25px;
$lh-md33: 33px;
$lh-md34: 34px;
$lh-md25: 25px;
$lh-lg54: 54px;
$lh-lg88: 88px;
