$body-color: #fff;
$header__upp-bgColor: #707e8c;
$header__contentColor: #506a85;
$header__bott-contentColor:#a4b2c0;
$section-bgColor: #f2f5f7;
$footer__upp-bgColor: #2f4052;
$footer__upp-contentColor: #a3b1bf;
$footer__bott-bgColor: #283645;
$footer__bott-contentColor: #707e8c;
$section__headerColor: #4f6a86;
$section__contentColor: #74889d;
$button-color: #00bd9d;
