.features{
  padding: 80px 0;
  box-sizing: border-box;
  &__item{
    box-sizing: border-box;
    padding-left: 100px;
    &--passion,
    &--creativity,
    &--quality{
      &::before{
        position: absolute;
        content: "";
        left: 30px;
        top: 0;
        background-repeat: no-repeat;
      }
    }
    &--passion::before{
      background-image: url("../img/icon-heart-empty-1.png");
      width: 61px;
      height: 53px;
    }
    &--creativity::before{
      background-image: url("../img/icon-lamp.png");
      width: 46px;
      height: 65px;
    }
    &--quality::before{
      background-image: url("../img/icon-star-empty-1.png");
      width: 56px;
      height: 53px;
    }
  }
  &__item-title{
    box-sizing: border-box;
    padding-top: 20px;
    color: $header__contentColor;
    font-size: 26px;
    font-weight: 700;
    line-height: $lh-md34;
    text-transform: capitalize;
  }
  &__item-description{
    color: $section__header-descr-Color;
    font-size: $font-size-sm16;
    font-weight: 400;
    line-height: $lh-md25;
  }
}
