.page-title{
  &__text{
    color: $body-color;
    font-size: $font-size-lg78;
    font-weight: 900;
    line-height: $lh-lg88;
    text-transform: uppercase;
    text-align: center;
  }
  &__description{
    color: $footer__upp-contentColor;
    font-size: $font-size-md24;
    font-weight: 400;
    line-height: $lh-md33;
    text-align: center;
  }
}
